<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" type="image/png" href="images/cropped-Untitled-design5-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="images/IRFS-LOGO-WHITE.png" sizes="32x32">
</head>
<body>
    {% include "partials/page-header.html" %}
    {% block content %}{% endblock %}
    {% include "partials/page-footer.html" %}
</body>
</html>