{% extends "layouts/base.html" %}

{% block content %}
    <header>{{ title }}</header>
    <p>IRFS’ broad freedom of expression approach, its ability to respond rapidly to even the most outrageous actions against press freedom is the DNA of IRFS’ work in Azerbaijan.
    IRFS monitors and reports on violations of freedom of expression in Azerbaijan, producing statements, appeals, analyses, and daily news reports, conducting press conferences, and raising awareness of journalists’ rights locally and internationally. As part of this commitment IRFS has been regularly producing comprehensive reports on the state of freedom of expression in Azerbaijan.</p>
    
    <p>In November 2012, IRFS released its groundbreaking new report, The Right to Remain Silent. Less than a year left until the next presidential election in Azerbaijan, IRFS developed this report to highlight its concerns regarding violations of the rights to freedom of expression, assembly and association in the country.
    In the report, IRFS concludes that the Azerbaijani authorities have taken steps to curtail all three fundamental freedoms in recent years, and particularly in connection with two major international events being held in Baku in 2012: the Eurovision Song Contest in May, and the Internet Governance Forum in November. The report explores topics such as violence against journalists, detention of media workers and human rights defenders, and state control of the media.</p>
   
    <p>For more information about youth programs, please contact info (at) irfs.org
    <hr>  
{% endblock %}