{% extends "layouts/base.html" %}
{% block layout %}
	{% include "styles/home-layout.css.html" %}
{% endblock %}
{% block content %}
	<main>
		<div class="grid-container">
			<section id="news-banner" class="wrapper">{% include "partials/auto-slider.html" %}</section>
			<section id="news" class="wrapper">{% set postListItems = pagination.items %} {% include "partials/post-list.html" %}</section>
			<section id="events" class="wrapper"><p>events</p></section>
			<section id="latest-news" class="wrapper"><p>Latest news</p></section>
		</div>
	</main>
{% endblock %}