{% extends "layouts/base.html" %}

{% block content %}
    <section>
        <header><h2>{{ title }}</h2></header>
        <p>IRFS is working to support the expressive use of innovative media tools by providing access, training and the environment needed to create/exhibit works of enduring merit and artistic excellence.</p>
        <p>Since beginning of January 2012, IRFS has been host and overseeing the Azerbaijan Youth Media Center (AYMC), a project that provides a platform for young Azerbaijanis to produce multimedia materials that draw attention to important social, economic, and political issues in Azerbaijani society. This concept has emerged from the agreement between IRFS and international partner, International Media Support (IMS) to set up a central location for Azerbaijani youth interested in multimedia production to gather, on IRFS premises. At the core of the project are training and consulting young people, aged 18- 28 years, in the skills they need in order to tell stories through both mainstream and so called “middle” digital media.</p>
        <p>For more information about youth programs, please contact info (at) irfs.org</p>
        <hr>
    </section>
{% endblock %}