{% extends "layouts/base.html" %}

{% block content %}
    <section>
        <header><h2>{{ title | safe }}</h2></header>
        <div class="flex-container">
            <div>
                
                <img src="/images/brand/IRFS-LOGO-WHITE.svg" alt="">
                <p>Mission: IRFS believes that, without freedom of expression, democracy and development cannot happen. Therefore IRFS’ mission is to protect and improve freedom of expression in Azerbaijan.</p>
                <p>Vision: IRFS envisages a region where citizens are free to speak freely, to be heard, and to participate in decision making. IRFS is committed to unlimited access to a diverse and independent news media.</p>
            </div>
            <div>
                <p>The Institute for Reporters’ Freedom and Safety (IRFS) is a local Azerbaijani NGO founded on World Press Freedom Day in 2006 by two Azerbaijani journalists, in response to growing government restrictions on freedom of expression and freedom of press. IRFS has been a member of the International Freedom of Expression Exchange (IFEX) since October 2007 and Global Network Initiative (GNI) since November 2012.</p>
                <p>
                    <h6>Strategy:</h6>
                    <ul>
                        <li>Protection of freedom of expression and freedom of information</li>
                        <li>Campaigning for fundamental human rights</li>
                        <li>Tackling media regulation</li>
                        <li>Promotion and implementation of ICT and digital media</li>
                    </ul>
                </p>
                <p>
                    <h6>Values:</h6>
                    <ul>
                        <li>Innovation, access and technology</li> 
                        <li>Transparency</li>
                        <li>Perseverance</li>
                    </ul>
                </p>
            </div>
        </div>
    </section>
    <hr>
{% endblock %}