<li><a href="/"><img src="images/IRFS-LOGO-WHITE.png" alt="IRFS Brand" class="brand"></a></li>
<ul>
    <li><p>Latest</p></li>
    <li><a href="">News</a></li>
    <li><a href="">Statements</a></li>
    <li><a href="">Publications</a></li>
</ul>
<ul>
    <li><p>About Us</p></li>
    <li><a href="">IRFS Members</a></li>
    <li><a href="">Vision | Mission | Strategy</a></li>
    <li><a href="">Contact Us</a></li>
</ul>
<ul>
    <li><p>What We Do</p></li>
    <li><a href="">Promoting press freedom and journalist safety</a></li>
    <li><a href="">Promotion of youth media and ICT</a></li>
    <li><a href="">Protection of freedom of expression</a></li>
    <li><a href="">Objective TV</a></li>
</ul>
<p>&#169; 2025 &#8226; IRFS</p>