<nav>
    <ul>
    <li><a href="/"><img src="images/IRFS-LOGO-WHITE.png" alt="IRFS Brand" class="brand"></a></li>
    <li><a href="/">Home</a></li>
    <li><ul>
        <li>Who We Are</li>
        <li><a href="">VISION &#124; MISSION &#124; STRATEGY &#124;</a></li>
        <li><a href="">IRFS MEMBERS</a></li>
    </ul></li>
    <li><ul>
        <li>What We Do</li>
        <li><a href="">Promoting press freedom and journalist safety</a></li>
        <li><a href="">Promotion of youth media and ICTPromotion of youth media and ICT</a></li>
        <li><a href="">Protection of freedom of expression</a></li>
        <li><a href="">Safeguarding freedom of information</a></li>
        <li><a href="">Objective TV</a></li>
    </ul></li>
    <li><a href="">News</a></li>
    <li><a href="">Contact Us</a></li>
</ul></nav>