<footer id="footer">
    <nav aria-label="Footer navigation" class="[ nav ] [ footer-nav ]">
        <a href="/"><img src="images/IRFS-LOGO-WHITE.png" alt="IRFS Brand" id="footer-brand" class="brand"></a>
        <ul class="[ nav__list ] [ footer-nav-list ]">
            <li><span>Latest</span></li>
            <li><a href="">News</a></li>
            <li><a href="">Statements</a></li>
            <li><a href="">Publications</a></li>
        </ul>
        <ul class="[ nav__list ] [ footer-nav-list ]">
            <li><span>About Us</span></li>
            <li><a href="">IRFS Members</a></li>
            <li><a href="">Vision | Mission | Strategy</a></li>
            <li><a href="">Contact Us</a></li>
        </ul>
        <ul class="[ nav__list ] [ footer-nav-list ]">
            <li><span>What We Do</span></li>
            <li><a href="">Promoting press freedom and journalist safety</a></li>
            <li><a href="">Promotion of youth media and ICT</a></li>
            <li><a href="">Protection of freedom of expression</a></li>
            <li><a href="">Objective TV</a></li>
        </ul>
    </nav>
    <p>&#169; 2025 &#8226; IRFS</p>
</footer>