<ol class="[ post-list ] [ style-type-none ]">
	{% for item in postListItems %}
		{% set alt %}
			{% if item.data.alt %}
				{{ item.data.alt }}
			{% else %}
				{{ item.data.title }}
			{% endif %}
		{% endset %}
		<li class="[ post-list__item ] [ mt-2 ]">
			<a href="{{ item.url }}" class="[ sans-text-decoration ]">
				{% if item.data.Photo and includeCover %}
					<img src="/{{ item.data.Photo }}" alt="{{ alt }}" class="post-list__item__image">
				{% endif %}
				<h2 class="[ fs-5 ] [ title-animation-underline upk-title ]">{{ item.data.title | safe }}</h2>
				{% if item.data.seoDescription and includeDescription %}
					<p>{{ item.data.seoDescription }}</p>
				{% endif %}
				{% if includeDate %}
					<time datetime="{{ item.data.date | w3DateFilter }}">{{ date | dateFilter }}</time>
				{% endif %}
			</a>
		</li>
	{% endfor %}
</ol>