<ol class="[ post-list ]">
	{% for item in postListItems %}
		{% set alt %}
			{% if item.data.alt %}
				{{ item.data.alt }}
			{% else %}
				{{ item.data.title }}
			{% endif %}
		{% endset %}
		<li class="post-list__item">
			<a href="{{ item.url }}">
				{% if item.data.Photo and includePhoto %}
					<img src="/{{ item.data.Photo }}" alt="{{ alt }}" class="post-list__item__image">
				{% endif %}
				<h2>{{ item.data.title }}</h2>
				{% if item.data.seoDescription and includeDescription %}
					<p>{{ item.data.seoDescription }}</p>
				{% endif %}
				{% if includeDate %}
					<time datetime="{{ item.data.date | w3DateFilter }}">{{ date | dateFilter }}</time>
				{% endif %}
			</a>
		</li>
	{% endfor %}
</ol>