<footer id="footer">
    <nav aria-label="Footer navigation" class="[ nav ] [ footer__nav ]">
        <a href="/"><img src="/images/brand/IRFS-LOGO-WHITE.png" alt="IRFS Brand" id="footer-brand" class="brand"></a>
        {% for navList in navigation.footer %}
        <ul class="[ nav__list ] [ footer__nav__list ]">
            <li><span>{{ navList.title }}</span></li>
            {% for navItem in navList.items %}
                <li><a href="{{ navItem.href }}"> {{ navItem.label }}</a></li>
            {% endfor %}
        </ul>
        {% endfor %}
    </nav>
    <p id="footer__copyright">&#169; 2025 &#8226; IRFS</p>
</footer>