<header role="banner" id="site-header" class="[ important ]">
    <nav class="[ nav ] [ site-header__nav ]">
        <div class="[ container ]">
            <div class="[ nav__list ] [ site-header__nav__list ] ">
                <ul class="[ flex-container horizontal-center space-between ] [ style-type-none ]">
                    <li id="site-header__brand" class="[ style-type-none ]">
                        <a href="/"><img src="/images/brand/IRFS-LOGO-WHITE.png" alt="IRFS Brand" class="brand"></a>
                    </li>
                    {% for item in navigation.items %}
                        <li class="{% if item.children %}[ nav__sublist ]{% endif %}">
                            <div class="[ flex-container ]">
                                <a href="{{ item.url }}" class="[ sans-text-decoration bold fs-5 ]">{{ item.text | safe }}</a>
                                {% if item.children %}<img src="/images/icon/keyboard_arrow_down_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg" alt="">{% endif %}
                            </div>
                            {% if item.children %}
                                <div class="[ nav__droplist ]">
                                    <div class="[ shadow-wrapper radius hidden important ] [ pt-4 pr-6 pb-6 pl-6 ]">
                                        <ul class="[ style-type-none ] ">
                                            {% for childeItem in item.children %}
                                                <li class="[ inline ] [ ml-4 ]"><a href="{{ childeItem.url }}" class="[ sans-text-decoration bold ]">{{ childeItem.text | safe }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>    
                            {% endif %}
                        </li>
                    {% endfor %}
                    <li class="[ searc ]">
                        <div class="[ flex-container horizontal-center space-around ]">
                            <img src="/images/icon/search_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg" alt="">
                            <a href="" class="[ sans-text-decoration ]">Search</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>    
    </nav>
</header>    

